body{
    background-image: linear-gradient(-75deg, #1E9E09, #035629);
}
  .asslam{
      font-family: bilbo;
      color:#fff;
      font-size: 30px;
      text-align: center;
      margin-top: 30px;
  }
  .mosjid1{
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
  }
  .title{
      font-size: 18px;
      color: #fff;
      text-align: center;
  }
  
  .selcet_box{
      width: 50%;
      border-radius: 50px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
  }
select-text{
    min-width: 50px !important;
}
.select_text{
    color: red($color: #ce4141);
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}
.nxt{
    background-color: #035629;
    color: #fff;
    font-size: 14px;
    width: 20%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}